<!DOCTYPE html>
{% load static %}
<link rel="icon" href="{%static 'driving_app/images/favicon.jpg'%}" type="image/icon">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admission</title>
    {% include 'driving_app/common/commoncss.html' %}
    
    
</head>
<body  style="background-color: #a6c7f5">
    {% include 'driving_app/html/header.html' %}

    
    {% if messages %}
    {% for m in messages %}
    <!-- here is code for success symbol means tick symbol after submission of contactus -->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
       <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
         <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
       </symbol>
       <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
         <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
       </symbol>
       <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
         <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
       </symbol>
     </svg>

    <div class="alert alert-success d-flex" role="alert">
       <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
       <div>
         {{m}}
       </div>
       
         
           <button type="button" class="btn-close btn btn-success  float-right" data-bs-dismiss="alert" aria-label="Close" ></button>
       
   </div>
     
<!-- here is end -->
    {% endfor %}
    {% endif %}



    <div class="container h-100" >
        <div class="d-flex justify-content-center" style="margin-top: 50px;">
            <div class="card mt-5 col-md-5" >
                <div class="card-header" style="background-color:rgb(94, 136, 212);;">
                <p class="animate-charcter" style="font-size: 40px;text-align: center"><b><i class='fas fa-user-cog'></i>Admission</b></p>
                </div>
                <div class="card-body h-75">
                    <form method="post" action="/admission/">
                        {% csrf_token %}
                        <div id="dynamic_container">
                            
                            
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text br-15"><i class="fas fa-user-graduate"></i></span>
                                </div>
                                <input type="text" name="name" placeholder="Enter Your Name" required class="form-control"/>
                                
                                
                            </div>
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text br-15"><i class="fas fa-at"></i></span>
                                </div>
                                <input type="email" name="email" required placeholder="Enter Your Email" class="form-control"/>
                                
                                
                            </div>
                            
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text br-15"><i class="fas fa-phone-square"></i></span>
                                </div>
                                <input type="number" name="phone" required placeholder="Enter Your Phone Number" class="form-control"/>
                                
                                
                            </div>
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text br-15"><i class="fa-sharp fa-solid fa-location-dot fa-beat"></i></span>
                                </div>
                                <textarea placeholder="Enter Your Address" required name="address" class="form-control"></textarea>
                                
                                
                            </div>
                            

                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text br-15"><i class='fas fa-car fa-beat' style='font-size:15px'></i></span>
                                </div>
                                <select class="form-select" name="programe_name">
                                    <option value="" disabled selected>Select your Program</option>
                        
                                        {% for pdata in program_key%}

                                        <option value="{{pdata.program_name}}">{{pdata.program_name}}</option>

                                        {%endfor%}

                                </select>
                            
                            </div>


                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text br-15"><label>Transaction no</label></span>
                                </div>
                                <textarea placeholder="Your Transaction number is:" required name="transaction" class="form-control"></textarea>
                                
                                
                            </div>








                            
                            
                        </div>
                    
                <div class="card-footer text-center" style="margin-top:50px;">
                    <!-- <a class="btn btn-secondary btn-sm" id="add_more"><i class="fas fa-plus-circle"></i> Add</a>
                    <a class="btn btn-secondary btn-sm" id="remove_more"><i class="fas fa-trash-alt"></i> Remove</a> -->
                    <button  style="width: 150px;height: 50px;text-align: center; color: rgb(16, 58, 44); background-color: rgb(94, 136, 212);" class="btn btn-outline-success"><i class="fab fa-telegram-plane"></i> <b>Submit</b></button>
                </div>
                </form>
                    
                </div>
            </div>
        </div>
        </div>


        



<br>
<br>
<br>
<br>
<br>
<br>























    {% include 'driving_app/html/footer.html' %}

    {% include 'driving_app/common/commonjs.html' %}
    
</body>
</html>



<!-- <i class="fa-thin fa-steering-wheel"></i> -->