<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
<style>

.nav-link{
  color:rgb(224, 213, 213) ;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}


a:hover{

  color:rgb(168, 211, 179)  !important;
}


.dropdown-item{
  color: rgb(127, 91, 160) ;
}
nav{

/*background-color: beige;*/
background-image:linear-gradient(to right, rgb(30, 51, 58), rgb(42, 96, 153));


}


</style>


<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{'/trainee_home/'}}"><i class='fas fa-home'></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{'/editprofile_trainee/'}}">EditProfile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{'/assigned_trainer/'}}">Assigned Trainer</a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{'/previous_ride_details/'}}">Previous Ride Details</a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{'/trainee_login/'}}">Logout</a>
            
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
          
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Login
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{'/trainer_login/'}}">Trainer</a></li>
              <li><a class="dropdown-item" href="{{'/trainee_login/'}}">Trainee</a></li>
             
            </ul>
          </li> -->

          <!-- <li class="nav-item">
            <a class="nav-link" href="{{'/admission/'}}">Online Admission</a>
          </li> -->





          
        <!-- </ul>
             
        
        
        
        
        
        
                                                                                                                                      here "me-2" gives the gap between no. and search bar  -->
        <!-- <i class="fa fa-phone fa-rotate-90 fa-beat-fade fa-sharp fa-solid me-1" style="font-size:22px; color:black;"></i><h6 style="margin-top: 10px; color: black;" class="me-2"><a href="tel:91+9984473310" style="color: black;">(+91) 9984473310</a></h6>
        
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" style="color: antiquewhite;" type="submit">Search</button>
        </form>  -->
      </div>
    </div>
  </nav>